<ion-header>
  <ion-toolbar>
    <ion-title>details_employe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">STT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Materials
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="materials">liste materials</a></li>
              <li><a class="dropdown-item" href="add-material">Add material</a></li>
             
              
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Employers
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="employe">liste employers</a></li>
              <li><a class="dropdown-item" href="add-employe">Add employer</a></li>
             
              
            </ul>
            <li class="nav-item">
              <a class="nav-link" href="/about">About us</a>
            </li>
          
        </ul>
      
      </div>
    </div>
  </nav>
  
  
  
   <ion-content>
  
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Fullname</th>
          <th scope="col">Email</th>
         
          <th scope="col">Job</th>
        
        </tr>
      </thead>
      <tbody>
        
        
      
        <td name="id">{{employe.id}}</td>
        <td name="matricule">{{employe.name}}</td>
        <td name="name">{{employe.email}}</td>
        <td name="carte_grise">{{employe.job}}</td>
    
      </tbody>
    </table>
</ion-content>
